NODE_ENV=development
PORT=3000

DATABASE_URL="mysql://root:MyPassword@localhost:3306/paybridge"

JWT_SECRET=3xxxxxxx

# JWT_EXPIRES_IN=1d
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_EXPIRES_IN=7d

FLUTTERWAVE_PUBLIC_KEY=xxxxxx xxxxx

FLUTTERWAVE_SECRET_KEY=xxxxxxx xxxxx

FLUTTERWAVE_ENCRYPTION_KEY=xxxx xxxxx

KAFKA_BROKER=localhost:9092

EMAIL_USER=capestone57@gmail.com

EMAIL_PASSWORD=xxxx xxxxx

ALLOWED_ORIGINS=http://localhost:5173