@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Alex+Brush&family=Arimo:ital,wght@0,400..700;1,400..700&family=Birthstone&family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mr+De+Haviland&family=Onest:wght@100..900&display=swap');
@import "tailwindcss";
@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', system-ui, -apple-system, sans-serif;
}

@theme {
  --color-the-bright-side:"#FCC003";
  --color-coarse-wool:"#151827";
  --breakpoint-sm: 640px;
  --font-birthstone:"Birthstone", cursive;
}
.custom-shape-divider-bottom-1781020211 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1781020211 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 38px;
}

.custom-shape-divider-bottom-1781020211 .shape-fill {
  fill: #ffffff;
}
